.card_container {
    @media (min-width:320px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 !important;
        margin-top: 20px;
        padding: 4rem 0.55rem;
        gap: 20px;
    }

    @media (min-width:768px) {
        padding: 20px 3rem;
    }

    @media (min-width:1024px) {
        padding: 4rem 4rem;
    }

    .cars_card {
        position: relative;
        text-decoration: none;
        height: 100%;

        @media (min-width:320px) {
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            padding: 0;
            box-shadow: 0 0 5px rgba(100, 100, 100, 0.9);
            margin: 10px 0;
            border-radius: 12px;
        }

        @media (min-width:425px) {
            margin-top: 50px;
        }

        @media (min-width:768px) {
            width: 100%;
            height: 200px;
            margin: 20px 0px;
        }

        @media (min-width:1024px) {
            width: 400px;
            box-shadow: none;
            transition: 0.3s;
            margin: 20px 2.5px;
            border: 1px solid #d6e8f9;
        }

        @media (min-width:1300px) {
            width: 450px;
        }

        .favorites_btn1 {
            width: 35px;
            height: 35px;
            margin: 0;
            border: 1px solid black;
            cursor: pointer;
            position: absolute;
            top: 90px;
        }
        .card_body {
            @media (min-width:320px) {
                width: 100%;
                height: 144px;
                position: relative;
                border: 0;
                padding: 0.55rem;
                top: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
            }

            @media (min-width:425px) {
                width: 100%;
            }

            @media (min-width:1024px) {
                display: flex;
                width: 100%;
                height: 200px;
            }

            .card_img {
                    img {
                    @media (min-width:320px) {
                        width: 60%;
                        height: 60%;
                        object-fit: cover;
                    }

                    @media (min-width:768px) {
                        width: 50%;
                        height: 50%;
                        object-fit: cover;
                    }
                    @media (min-width:1024px) {
                        width: 60%;
                        height: 60%;
                        object-fit: cover;
                    }
                }
            }

            .card_title {
                position: absolute;
                display: flex;
                gap: 10px;
                flex-direction: column;
                align-items: flex-end;
                right: 4%;

                h4 {
                    color: #333;

                    margin: 0;

                    &:nth-child(2) {
                        color: #555;
                    }

                    &:nth-child(3) {
                        color: #555;
                    }
                }
            }


        }

        .card_footer {
            @media (min-width:320px) {
                width: 100%;
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-top: 10px;
                gap: 8px;
                list-style: none;
            }

            @media (min-width:425px) {
                width: 100%;
                // border: 1px solid black ;
                margin-top: 10px;
                gap: 5.2px;
            }

            @media (min-width:1024px) {
                height: 12%;

            }

            .card_footer_btn {
                @media (min-width:320px) {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    border: none;
                    cursor: pointer;
                    font-size: 12px;
                    font-weight: 600;
                    transition: 0.2s ease-in-out;
                    padding: 12px 20px;
                    background: #3B4FF9;
                    color: white;
                    transition: .5s;
                    border-radius: 0px 30px 0px 8px;
                }

                &:nth-child(2) {
                    border-radius: 30px 0 8px 0;
                    border-left: 1px solid #d6e8f9;

                }

                &:hover {
                    border-top: 1px solid #d6e8f9;
                    border-right: 1px solid #d6e8f9;
                    color: #3B4FF9;
                    background: none;
                }

            }

        }
    }
}