.userInfo{
  display: flex;
  align-items: center;
  cursor: pointer;
  img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  li{
    list-style: none;
    margin-left: 10px;
  }
  .default{
    transform: rotateX(180deg);
    transition: .5s;
  }
  .rotated{
    transform: rotateX(0);
    transition: .5s;
  }
}